*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, 
body{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 16px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
@keyframes arrow {
    from{
        opacity: 1;
        transform: translateY(-20px);
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}
header{
    background-image: url(/img/home_slider.jpg);
    background-position: center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
header .container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .s-logo i{
    color: white;
    font-size: 2rem;
    margin-right: 10px;
}
.container .s-logo span{
    font-size: 2rem;
}
.container .s-menu{
    margin: 15px 0;
}
.container .s-menu ul{
    display: flex;
}
.container .s-menu ul li{
    margin: 0 20px;
}
.container .s-menu ul li a{
    color: white;
    transition: all 0.5s;
}
.container .s-menu ul li a:hover{
    color: red;
}
.container .s-menu ul li a.active{
    color: rgb(255, 62, 62);
}
/* end nav  */
header .s-content{
    text-align: center;
    margin: 100px auto;
    max-width: 450px;
    border: 3px solid #ff884c;
    padding: 20px 10px 10px 10px;
}
header .s-content .s-tittle{
    font-size: 3.5rem;
    font-weight: 700;
}
header .s-content button{
    background-color:#f53e5c;
    color: white;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
header .s-content button:hover{
    background-color: #d10628;
}
header .s-content i{
    display: block;
    margin-top: 50px;
    font-size: 2rem;
    opacity: 0.5;
    animation: arrow 1s linear infinite;
}
header .s-intro{
    padding: 10px 0;
}
.s-carousel {
    background-color: rgb(23, 23, 23);
    padding-bottom: 50px;
}
.s-carousel .s-list{
    display: flex;
    justify-content: center;
    text-align: center;
    /* width: 100%; */
}
.s-content{
    text-align: center;
}
.s-carousel .s-list .item{
    padding: 80px 20px;
    background-color: #fff;
    color: rgb(123, 123, 123);
    width: 90% !important;
    position: relative;
}
.s-carousel .s-list .item::before{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 0;
    top: 0;
    right: 0;
    background-color: #d10628;
    transition: 0.5s;
}
.s-carousel .s-list .item:hover::before{
    height: 100%;
}
.s-carousel .s-list .item i{
    font-size: 32px;
    margin-bottom: 10px;
}
.s-intro{
    color: #e62b4a;
    padding: 50px 0 5px;
}
.s-tittle{
    font-size: 3rem;
    font-weight: bold;
}
.s-detail{
    color: rgb(214, 214, 214);
    margin: 10px 0;
}
.s-blog{
    background-color: rgb(214, 214, 214);
    padding-bottom: 50px;
}
.s-blog .s-thump1{
    position: relative;
    overflow: hidden;
}
.s-category .overlay{
    position: absolute;
    display: block;
    background-color: #ff798f;  
    width: 100%;
    height: 98%;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.s-category .distance{
    margin-bottom: 15px;
}
.s-category .s-thump1:hover .overlay{
    visibility: visible;
    opacity: 0.7;
}
.s-category .s-thump1:hover .tittle{
    left: 10px;
}
.s-category .s-thump1:hover .search{
    top: 10px;
}
.s-category .overlay .search{
    position: absolute;
    top: 20px;
    right: 10px;
    color: #ff798f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    transition: 0.3s;
}
.s-category .overlay .tittle{
    position: absolute;
    bottom: 10px;
    left: -100px;
    transition: 0.3s;
}
.s-blog .s-tittle{
    color:#000 ;
}
.s-blog .s-detail{
    color: rgb(123, 123, 123);
    padding-bottom: 30px;
}
/* --------------------------  */
.s-blog .s-category .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.s-blog .s-category .container .active{
    grid-column: 1/3;
}
.s-blog .s-category .container .active1{
    width: 207%;
}
/* ------------------------  */
.s-number{
    background-color: #000;
}
.s-number .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;    
}
.s-number .container .s-item{
    margin: 0 50px;
    text-align: center;
}
.s-number .container .s-item .s-count{
    font-size: 32px;
    color: #fff;
}
.s-number .container .s-item p{
    color: rgb(169, 169, 169);
}
.s-exp{
    background-image: url(img/bussiness_img_1.jpg);
    margin-bottom: 50px;
    background-attachment: fixed;
}
.s-exp .s-tittle{
    color: #fff;
}
.s-exp .s-video{
    padding: 50px;
}
.s-contact .s-main{
    display: flex;
    justify-content: center;
}
.s-contact .s-form input, 
textarea
{
    display: block;
    margin: 0 20px 20px ;
}
.s-form input, textarea{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
}
.s-form input:last-child{
    margin: 29px 20px 0;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
footer .container{
    background-color: #000;
    max-width: 1519px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}
footer .s-social i{
    margin:0 10px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(77, 77, 77);
    text-align: center;
    padding-top: 13px;
}
.slick-dots li button:before{
    color: white;
    margin-top: 20px;
    opacity: 1;
    font-size: 12px;
}
.slick-dotted.slick-slider {
    margin-top: 30px;
}



